#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-movies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}


.read-the-docs {
  color: #888;
}
